# Exclude from git repo
wp-admin/*
wp-includes/*
wp-content/backup/*
wp-content/cache/*
wp-content/upgrade/*
wp-content/uploads/*
dev/*


config.codekit3
sitemap.*
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-config.php
sucuri-f6b518e2bd46b6aa88c064cfd88d6223.php


# Hidden system files
*.DS_Store
*[Tt]humbs.db
*.Trashes

# Include these files in previously blocked directories
!wp-content/uploads/.htaccess
!wp-content/themes/*/index.php
